/*/list.txt
*.pyc
*.o
*.swp
*.swo
*.iml
*.idea
!.gitkeep
/dockermon/log/*.txt
/dockermon/test.txt
/dockermon/containers.pkl

/jmxmon/conf.properties
/jmxmon/conf.properties.*
/jmxmon/var
/jmxmon/jmxmon.jvm.context.json

